<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUYSELL</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>BUYSELL</h1><hr>
<h4>Авторизация</h4>
<a href="/api/start/"> Назад </a>
<form action="/api/user/authentication" method="post" id="loginForm">
    Ник нейм пользователя: <input type="text" id="userNickname"><br><br>
    Пароль: <input type="text" id="userPassword"><br><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" id="loginButton" value="Вход"/>
</form>
<a href="/api/user/register">Регистрация</a>

<script>
    $(document).ready(function () {
        $('#loginForm').submit(function (event) {
            event.preventDefault(); // предотвращаем стандартное поведение отправки формы
            loginUser();
        });
    });

    function loginUser() {
        var formData = {
            userNickname: $('#userNickname').val(),
            userPassword: $('#userPassword').val()
        };

        $.ajax({
            type: "POST",
            url: "/api/user/authentication",
            contentType: "application/json",
            data: JSON.stringify(formData),
            success: function (response) {
                alert("Успешно вошел");
            },
            error: function (xhr, status, error) {
                alert("Какие то проблемы и не  вошел");
            }
        });
    }
</script>
</body>
</html>

