<!DOCTYPE html>
<html>
<head>
    <title>BUYSELL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>BUYSELL</h1>
<hr>
<a href="/api/start/"> Назад </a>
<h4>Авторизация</h4>
<form id="loginForm">
    Ник нейм пользователя: <input type="text" id="userNickname"><br><br>
    Пароль: <input type="text" id="userPassword"><br><br>
    <button type="button" id="loginButton">Вход</button>
</form>
<a href="/api/user/register">Регистрация</a>

<script>
    $(document).ready(function () {
        $('#loginButton').click(function () {
            loginUser();
        });
    });

    function loginUser() {
        var formData = {
            userNickname: $('#userNickname').val(),
            userPassword: $('#userPassword').val()
        };

        $.ajax({
            type: "POST",
            url: "/api/user/authentication",
            contentType: "application/json",
            data: JSON.stringify({
                userNickname: "exampleNickname",
                userPassword: "examplePassword"
            }),
            success: function (response) {
                alert("Ошибка входа")
            },
            error: function (xhr, status, error) {
                alert("Успешно вошел")
            }
        });

    }
</script>
</body>
</html>


