<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUYSELL</title>
</head>
<body>
<h1>BUYSELL</h1>
<hr>
<th:block th:if="${user.userNickname}">
    <h3>Имя пользователя: <i th:text="${user.userNickname}"></i></h3>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="submit" value="Выйти"/>
    </form>
</th:block>
<th:block th:unless="${user.userNickname}">
    <a href="/api/user/authentication">Войти</a></h1>
</th:block>
<hr>
<h4>Товары со всей России</h4>
<form action="/api/start/" method="get">
    Поиск по названию объявления: <input type="text" name="name">
    <input type="submit" value="Поиск"/>
</form>
<th:block th:if="${not #lists.isEmpty(products)}">
    <th:block th:each="product : ${products}">
        <div>
            <p><b th:text="${product.productName}"></b> <span th:text="${product.productPrice}"></span> eur. | <a
                    th:href="@{/api/start/{id}(id=${product.productId})}">Подробнее...</a></p>
        </div>
    </th:block>
</th:block>
<th:block th:if="${#lists.isEmpty(products)}">
    <h3>Товаров нет</h3>
</th:block>
<th:block th:if="${user.userNickname}">
    <hr>
    <h3>Add new product</h3>
    <form action="/api/start/create" method="post" enctype="multipart/form-data">
        <label>
            User Nickname:
            <input type="text" name="userNickname" id="userNickname"/>
        </label><br><br>
        <label>
            Название объявления:
            <input type="text" name="productName" id="productName"/>
        </label><br><br>
        <label>
            Описание объявления:
            <input type="text" name="productDescription" id="productDescription"/>
        </label><br><br>
        <label>
            Price:
            <input type="number" name="productPrice" id="productPrice"/>
        </label><br><br>
        <label>
            Category:
            <select name="productCategory" id="productCategory"></select>
        </label><br><br>
        <label>
            Brand:
            <select name="productBrand" id="productBrand"></select>
        </label><br><br>
        <label>
            Image 1:
            <input type="file" name="file1" id="file1"/>
        </label><br><br>
        <input type="button" value="Добавить товар" onclick="addProduct()"/>
        <input type="hidden" name="_csrf" value="${_csrf.token}">
    </form>

    <script>

        $(document).ready(function () {
            $.ajax({
                url: '/api/enum/allCategory',
                method: 'GET',
                success: function (data) {
                    data.forEach(function (category) {
                        $('#productCategory').append('<option value="' + category + '">' + category + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Failed to fetch product categories: ' + status + ', ' + error);
                }
            });
        });

        $(document).ready(function () {
            $.ajax({
                url: '/api/enum/allBrand',
                method: 'GET',
                success: function (data) {
                    data.forEach(function (brand) {
                        $('#productBrand').append('<option value="' + brand + '">' + brand + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Failed to fetch product categories: ' + status + ', ' + error);
                }
            });
        });

        function addProduct() {
            const formData = new FormData();
            formData.append('productName', $('#productName').val());
            formData.append('productDescription', $('#productDescription').val());
            formData.append('productPrice', $('#productPrice').val());
            formData.append('productCategory', $('#productCategory').val());
            formData.append('productBrand', $('#productBrand').val());
            formData.append('userNickname', $('#userNickname').val());
            formData.append('file1', $('#file1')[0].files[0]); // добавляем первый файл

            $.ajax({
                type: "POST",
                processData: false,  // Обязательно отключите обработку данных перед отправкой FormData
                contentType: false,  // Также обязательно отключите установку contentType
                url: "/api/start/create",
                data: formData,
                success: function () {
                    alert('Продукт успешно добавлен!');
                },
                error: function (e) {
                    alert('Произошла ошибка при добавлении продукта!');
                    console.log('Error:', e);
                }
            });
        }
    </script>
</th:block>
</body>
</html>

