<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUYSELL</title>
</head>
<body>
<h1>BUYSELL</h1><hr>
<h4>Регистрация</h4>
<form action="/api/user/register" method="post">
    Имя пользователя: <input type="text" id="userFirstName"><br><br>
    Фамилия пользователя: <input type="text" id="userLastName"><br><br>
    Ник пользователя: <input type="text" id="userNickname"><br><br>
    Эл. почта: <input type="email" id="userEmail"><br><br>
    Пароль: <input type="password" id="userPassword"><br><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Зарегистрироваться"/>
</form>
<th:block th:if="${errorMessage}">
    <h2 style="color: red" th:text="${errorMessage}"></h2>
</th:block>

<script>
    $(document).ready(function() {
        $('#registerButton').click(function() {
            registerUser();
        });
    });

    function registerUser() {
        // Собираем данные из полей формы
        var formData = {
            userFirstName: $('#userFirstName').val(),
            userLastName: $('#userLastName').val(),
            userNickname: $('#userNickname').val(),
            userEmail: $('#userEmail').val(),
            userPassword: $('#userPassword').val()
        };

        // Отправляем AJAX запрос
        $.ajax({
            type: "POST",
            url: "/api/user/register",
            contentType: "application/json",
            data: JSON.stringify(formData),
            success: function () {
                alert('Пользователь успешно зарегистрирован!');
            },
            error: function (xhr, status, error) {
                alert('Произошла ошибка при регистрации пользователя!');
                console.log('Error:', error);
            }
        });
    }
</script>
</body>
</html>



